<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>c2sc</key>
  <array>
    <string>A</string>
    <string>AE</string>
    <string>Aacute</string>
    <string>Abreve</string>
    <string>Acircumflex</string>
    <string>Adieresis</string>
    <string>Agrave</string>
    <string>Amacron</string>
    <string>Aogonek</string>
    <string>Aring</string>
    <string>Atilde</string>
    <string>B</string>
    <string>C</string>
    <string>Cacute</string>
    <string>Ccaron</string>
    <string>Ccedilla</string>
    <string>D</string>
    <string>Dcaron</string>
    <string>Dcroat</string>
    <string>E</string>
    <string>Eacute</string>
    <string>Ebreve</string>
    <string>Ecaron</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Egrave</string>
    <string>Emacron</string>
    <string>Eogonek</string>
    <string>Eth</string>
    <string>F</string>
    <string>G</string>
    <string>H</string>
    <string>I</string>
    <string>Iacute</string>
    <string>Ibreve</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Igrave</string>
    <string>Imacron</string>
    <string>Itilde</string>
    <string>J</string>
    <string>Jcircumflex</string>
    <string>K</string>
    <string>L</string>
    <string>Lacute</string>
    <string>Lcaron</string>
    <string>M</string>
    <string>N</string>
    <string>Nacute</string>
    <string>Ncaron</string>
    <string>Ntilde</string>
    <string>O</string>
    <string>Oacute</string>
    <string>Obreve</string>
    <string>Ocircumflex</string>
    <string>Odieresis</string>
    <string>Ograve</string>
    <string>Omacron</string>
    <string>Oslash</string>
    <string>Otilde</string>
    <string>P</string>
    <string>Q</string>
    <string>R</string>
    <string>Racute</string>
    <string>Rcaron</string>
    <string>S</string>
    <string>Sacute</string>
    <string>Scaron</string>
    <string>Scircumflex</string>
    <string>T</string>
    <string>Tcaron</string>
    <string>Thorn</string>
    <string>U</string>
    <string>Uacute</string>
    <string>Ubreve</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Ugrave</string>
    <string>Uhungarumlaut</string>
    <string>Umacron</string>
    <string>Uring</string>
    <string>V</string>
    <string>W</string>
    <string>Wacute</string>
    <string>Wcircumflex</string>
    <string>Wdieresis</string>
    <string>Wgrave</string>
    <string>X</string>
    <string>Y</string>
    <string>Yacute</string>
    <string>Ycircumflex</string>
    <string>Ydieresis</string>
    <string>Z</string>
    <string>Zacute</string>
    <string>Zcaron</string>
    <string>Zdotaccent</string>
    <string>gravecomb</string>
    <string>uni0162</string>
    <string>uni0306</string>
    <string>uni0400</string>
    <string>uni0401</string>
    <string>uni0402</string>
    <string>uni0403</string>
    <string>uni0404</string>
    <string>uni0405</string>
    <string>uni0406</string>
    <string>uni0407</string>
    <string>uni0408</string>
    <string>uni0409</string>
    <string>uni040A</string>
    <string>uni040B</string>
    <string>uni040C</string>
    <string>uni040D</string>
    <string>uni040E</string>
    <string>uni040F</string>
    <string>uni0410</string>
    <string>uni0411</string>
    <string>uni0412</string>
    <string>uni0413</string>
    <string>uni0414</string>
    <string>uni0415</string>
    <string>uni0416</string>
    <string>uni0417</string>
    <string>uni0418</string>
    <string>uni0419</string>
    <string>uni041A</string>
    <string>uni041B</string>
    <string>uni041C</string>
    <string>uni041D</string>
    <string>uni041E</string>
    <string>uni041F</string>
    <string>uni0420</string>
    <string>uni0421</string>
    <string>uni0422</string>
    <string>uni0423</string>
    <string>uni0424</string>
    <string>uni0425</string>
    <string>uni0426</string>
    <string>uni0427</string>
    <string>uni0428</string>
    <string>uni0429</string>
    <string>uni042A</string>
    <string>uni042B</string>
    <string>uni042C</string>
    <string>uni042D</string>
    <string>uni042E</string>
    <string>uni042F</string>
    <string>uni0462</string>
    <string>uni0472</string>
    <string>uni0474</string>
    <string>uni04A4</string>
    <string>uni04AA</string>
    <string>uni04AE</string>
    <string>uni04B0</string>
    <string>uni04C1</string>
    <string>uni04D0</string>
    <string>uni04D2</string>
    <string>uni04D4</string>
    <string>uni04D6</string>
    <string>uni04DC</string>
    <string>uni04DE</string>
    <string>uni04E2</string>
    <string>uni04E4</string>
    <string>uni04E6</string>
    <string>uni04E8</string>
    <string>uni04EA</string>
    <string>uni04EC</string>
    <string>uni04EE</string>
    <string>uni04F0</string>
    <string>uni04F4</string>
    <string>uni04F8</string>
    <string>uni1E9E</string>
  </array>
  <key>c2sc2</key>
  <array>
    <string>A.c2sc</string>
    <string>AE.c2sc</string>
    <string>Aacute.c2sc</string>
    <string>Abreve.c2sc</string>
    <string>Acircumflex.c2sc</string>
    <string>Adieresis.c2sc</string>
    <string>Agrave.c2sc</string>
    <string>Amacron.c2sc</string>
    <string>Aogonek.c2sc</string>
    <string>Aring.c2sc</string>
    <string>Atilde.c2sc</string>
    <string>B.c2sc</string>
    <string>C.c2sc</string>
    <string>Cacute.c2sc</string>
    <string>Ccaron.c2sc</string>
    <string>Ccedilla.c2sc</string>
    <string>D.c2sc</string>
    <string>Dcaron.c2sc</string>
    <string>Dcroat.c2sc</string>
    <string>E.c2sc</string>
    <string>Eacute.c2sc</string>
    <string>Ebreve.c2sc</string>
    <string>Ecaron.c2sc</string>
    <string>Ecircumflex.c2sc</string>
    <string>Edieresis.c2sc</string>
    <string>Egrave.c2sc</string>
    <string>Emacron.c2sc</string>
    <string>Eogonek.c2sc</string>
    <string>Eth.c2sc</string>
    <string>F.c2sc</string>
    <string>G.c2sc</string>
    <string>H.c2sc</string>
    <string>I.c2sc</string>
    <string>Iacute.c2sc</string>
    <string>Ibreve.c2sc</string>
    <string>Icircumflex.c2sc</string>
    <string>Idieresis.c2sc</string>
    <string>Igrave.c2sc</string>
    <string>Imacron.c2sc</string>
    <string>Itilde.c2sc</string>
    <string>J.c2sc</string>
    <string>Jcircumflex.c2sc</string>
    <string>K.c2sc</string>
    <string>L.c2sc</string>
    <string>Lacute.c2sc</string>
    <string>Lcaron.c2sc</string>
    <string>M.c2sc</string>
    <string>N.c2sc</string>
    <string>Nacute.c2sc</string>
    <string>Ncaron.c2sc</string>
    <string>Ntilde.c2sc</string>
    <string>O.c2sc</string>
    <string>Oacute.c2sc</string>
    <string>Obreve.c2sc</string>
    <string>Ocircumflex.c2sc</string>
    <string>Odieresis.c2sc</string>
    <string>Ograve.c2sc</string>
    <string>Omacron.c2sc</string>
    <string>Oslash.c2sc</string>
    <string>Otilde.c2sc</string>
    <string>P.c2sc</string>
    <string>Q.c2sc</string>
    <string>R.c2sc</string>
    <string>Racute.c2sc</string>
    <string>Rcaron.c2sc</string>
    <string>S.c2sc</string>
    <string>Sacute.c2sc</string>
    <string>Scaron.c2sc</string>
    <string>Scircumflex.c2sc</string>
    <string>T.c2sc</string>
    <string>Tcaron.c2sc</string>
    <string>Thorn.c2sc</string>
    <string>U.c2sc</string>
    <string>Uacute.c2sc</string>
    <string>Ubreve.c2sc</string>
    <string>Ucircumflex.c2sc</string>
    <string>Udieresis.c2sc</string>
    <string>Ugrave.c2sc</string>
    <string>Uhungarumlaut.c2sc</string>
    <string>Umacron.c2sc</string>
    <string>Uring.c2sc</string>
    <string>V.c2sc</string>
    <string>W.c2sc</string>
    <string>Wacute.c2sc</string>
    <string>Wcircumflex.c2sc</string>
    <string>Wdieresis.c2sc</string>
    <string>Wgrave.c2sc</string>
    <string>X.c2sc</string>
    <string>Y.c2sc</string>
    <string>Yacute.c2sc</string>
    <string>Ycircumflex.c2sc</string>
    <string>Ydieresis.c2sc</string>
    <string>Z.c2sc</string>
    <string>Zacute.c2sc</string>
    <string>Zcaron.c2sc</string>
    <string>Zdotaccent.c2sc</string>
    <string>gravecomb.c2sc</string>
    <string>uni0162.c2sc</string>
    <string>uni0306.c2sc</string>
    <string>uni0400.c2sc</string>
    <string>uni0401.c2sc</string>
    <string>uni0402.c2sc</string>
    <string>uni0403.c2sc</string>
    <string>uni0404.c2sc</string>
    <string>uni0405.c2sc</string>
    <string>uni0406.c2sc</string>
    <string>uni0407.c2sc</string>
    <string>uni0408.c2sc</string>
    <string>uni0409.c2sc</string>
    <string>uni040A.c2sc</string>
    <string>uni040B.c2sc</string>
    <string>uni040C.c2sc</string>
    <string>uni040D.c2sc</string>
    <string>uni040E.c2sc</string>
    <string>uni040F.c2sc</string>
    <string>uni0410.c2sc</string>
    <string>uni0411.c2sc</string>
    <string>uni0412.c2sc</string>
    <string>uni0413.c2sc</string>
    <string>uni0414.c2sc</string>
    <string>uni0415.c2sc</string>
    <string>uni0416.c2sc</string>
    <string>uni0417.c2sc</string>
    <string>uni0418.c2sc</string>
    <string>uni0419.c2sc</string>
    <string>uni041A.c2sc</string>
    <string>uni041B.c2sc</string>
    <string>uni041C.c2sc</string>
    <string>uni041D.c2sc</string>
    <string>uni041E.c2sc</string>
    <string>uni041F.c2sc</string>
    <string>uni0420.c2sc</string>
    <string>uni0421.c2sc</string>
    <string>uni0422.c2sc</string>
    <string>uni0423.c2sc</string>
    <string>uni0424.c2sc</string>
    <string>uni0425.c2sc</string>
    <string>uni0426.c2sc</string>
    <string>uni0427.c2sc</string>
    <string>uni0428.c2sc</string>
    <string>uni0429.c2sc</string>
    <string>uni042A.c2sc</string>
    <string>uni042B.c2sc</string>
    <string>uni042C.c2sc</string>
    <string>uni042D.c2sc</string>
    <string>uni042E.c2sc</string>
    <string>uni042F.c2sc</string>
    <string>uni0462.c2sc</string>
    <string>uni0472.c2sc</string>
    <string>uni0474.c2sc</string>
    <string>uni04A4.c2sc</string>
    <string>uni04AA.c2sc</string>
    <string>uni04AE.c2sc</string>
    <string>uni04B0.c2sc</string>
    <string>uni04C1.c2sc</string>
    <string>uni04D0.c2sc</string>
    <string>uni04D2.c2sc</string>
    <string>uni04D4.c2sc</string>
    <string>uni04D6.c2sc</string>
    <string>uni04DC.c2sc</string>
    <string>uni04DE.c2sc</string>
    <string>uni04E2.c2sc</string>
    <string>uni04E4.c2sc</string>
    <string>uni04E6.c2sc</string>
    <string>uni04E8.c2sc</string>
    <string>uni04EA.c2sc</string>
    <string>uni04EC.c2sc</string>
    <string>uni04EE.c2sc</string>
    <string>uni04F0.c2sc</string>
    <string>uni04F4.c2sc</string>
    <string>uni04F8.c2sc</string>
    <string>uni1E9E.c2sc</string>
  </array>
  <key>dnom</key>
  <array>
    <string>comma</string>
    <string>period</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>zero.tosf</string>
    <string>one.tosf</string>
    <string>one.tosf.alt</string>
    <string>two.tosf</string>
    <string>three.tosf</string>
    <string>four.tosf</string>
    <string>five.tosf</string>
    <string>six.tosf</string>
    <string>seven.tosf</string>
    <string>eight.tosf</string>
    <string>nine.tosf</string>
    <string>zero.lf</string>
    <string>one.lf</string>
    <string>two.lf</string>
    <string>three.lf</string>
    <string>four.lf</string>
    <string>five.lf</string>
    <string>six.lf</string>
    <string>seven.lf</string>
    <string>eight.lf</string>
    <string>nine.lf</string>
    <string>zero.osf</string>
    <string>one.osf</string>
    <string>one.osf.alt</string>
    <string>two.osf</string>
    <string>three.osf</string>
    <string>four.osf</string>
    <string>five.osf</string>
    <string>six.osf</string>
    <string>seven.osf</string>
    <string>eight.osf</string>
    <string>nine.osf</string>
  </array>
  <key>dnom2</key>
  <array>
    <string>comma.dnom</string>
    <string>period.dnom</string>
    <string>zero.dnom</string>
    <string>one.dnom</string>
    <string>two.dnom</string>
    <string>three.dnom</string>
    <string>four.dnom</string>
    <string>five.dnom</string>
    <string>six.dnom</string>
    <string>seven.dnom</string>
    <string>eight.dnom</string>
    <string>nine.dnom</string>
    <string>zero.dnom</string>
    <string>one.dnom</string>
    <string>one.dnom</string>
    <string>two.dnom</string>
    <string>three.dnom</string>
    <string>four.dnom</string>
    <string>five.dnom</string>
    <string>six.dnom</string>
    <string>seven.dnom</string>
    <string>eight.dnom</string>
    <string>nine.dnom</string>
    <string>zero.dnom</string>
    <string>one.dnom</string>
    <string>two.dnom</string>
    <string>three.dnom</string>
    <string>four.dnom</string>
    <string>five.dnom</string>
    <string>six.dnom</string>
    <string>seven.dnom</string>
    <string>eight.dnom</string>
    <string>nine.dnom</string>
    <string>zero.dnom</string>
    <string>one.dnom</string>
    <string>one.dnom</string>
    <string>two.dnom</string>
    <string>three.dnom</string>
    <string>four.dnom</string>
    <string>five.dnom</string>
    <string>six.dnom</string>
    <string>seven.dnom</string>
    <string>eight.dnom</string>
    <string>nine.dnom</string>
  </array>
</dict>
</plist>
