<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>loclBGR</key>
  <array>
    <string>uni040D.loclBGR</string>
    <string>uni0414.loclBGR</string>
    <string>uni0416.loclBGR</string>
    <string>uni0418.loclBGR</string>
    <string>uni0419.loclBGR</string>
    <string>uni041A.loclBGR</string>
    <string>uni041B.loclBGR</string>
    <string>uni0424.loclBGR</string>
    <string>uni0432.loclBGR</string>
    <string>uni0433.loclBGR</string>
    <string>uni0434.loclBGR</string>
    <string>uni0436.loclBGR</string>
    <string>uni0437.loclBGR</string>
    <string>uni0438.loclBGR</string>
    <string>uni0439.loclBGR</string>
    <string>uni043A.loclBGR</string>
    <string>uni043B.loclBGR</string>
    <string>uni043D.loclBGR</string>
    <string>uni043F.loclBGR</string>
    <string>uni0442.loclBGR</string>
    <string>uni0444.loclBGR</string>
    <string>uni0446.loclBGR</string>
    <string>uni0447.loclBGR</string>
    <string>uni0448.loclBGR</string>
    <string>uni0449.loclBGR</string>
    <string>uni044A.loclBGR</string>
    <string>uni044B.loclBGR</string>
    <string>uni044C.loclBGR</string>
    <string>uni044E.loclBGR</string>
    <string>uni045D.loclBGR</string>
  </array>
  <key>loclCYR</key>
  <array>
    <string>uni040D</string>
    <string>uni0414</string>
    <string>uni0416</string>
    <string>uni0418</string>
    <string>uni0419</string>
    <string>uni041A</string>
    <string>uni041B</string>
    <string>uni0424</string>
    <string>uni0432</string>
    <string>uni0433</string>
    <string>uni0434</string>
    <string>uni0436</string>
    <string>uni0437</string>
    <string>uni0438</string>
    <string>uni0439</string>
    <string>uni043A</string>
    <string>uni043B</string>
    <string>uni043D</string>
    <string>uni043F</string>
    <string>uni0442</string>
    <string>uni0444</string>
    <string>uni0446</string>
    <string>uni0447</string>
    <string>uni0448</string>
    <string>uni0449</string>
    <string>uni044A</string>
    <string>uni044B</string>
    <string>uni044C</string>
    <string>uni044E</string>
    <string>uni045D</string>
  </array>
  <key>public.kern1.A.sc</key>
  <array>
    <string>A.c2sc</string>
    <string>Aacute.c2sc</string>
    <string>Abreve.c2sc</string>
    <string>Acircumflex.c2sc</string>
    <string>Adieresis.c2sc</string>
    <string>Agrave.c2sc</string>
    <string>Amacron.c2sc</string>
    <string>Aring.c2sc</string>
    <string>Atilde.c2sc</string>
  </array>
  <key>public.kern1.D</key>
  <array>
    <string>D</string>
    <string>Dcaron</string>
    <string>Dcroat</string>
    <string>Eth</string>
  </array>
  <key>public.kern1.E.sc</key>
  <array>
    <string>Eacute.c2sc</string>
    <string>Ebreve.c2sc</string>
    <string>Ecaron.c2sc</string>
    <string>Ecircumflex.c2sc</string>
    <string>Edieresis.c2sc</string>
    <string>Egrave.c2sc</string>
    <string>Emacron.c2sc</string>
  </array>
  <key>public.kern1.I</key>
  <array>
    <string>I</string>
    <string>Iacute</string>
    <string>Ibreve</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Idotaccent</string>
    <string>Igrave</string>
    <string>Imacron</string>
    <string>Itilde</string>
    <string>uni01CF</string>
  </array>
  <key>public.kern1.I.sc</key>
  <array>
    <string>Iacute.c2sc</string>
    <string>Ibreve.c2sc</string>
    <string>Icircumflex.c2sc</string>
    <string>Idieresis.c2sc</string>
    <string>Igrave.c2sc</string>
    <string>Imacron.c2sc</string>
    <string>Itilde.c2sc</string>
  </array>
  <key>public.kern1.J</key>
  <array>
    <string>J</string>
    <string>Jcircumflex</string>
  </array>
  <key>public.kern1.J.sc</key>
  <array>
    <string>Jcircumflex.c2sc</string>
  </array>
  <key>public.kern1.L.sc</key>
  <array>
    <string>Lacute.c2sc</string>
    <string>Lcaron.c2sc</string>
  </array>
  <key>public.kern1.N</key>
  <array>
    <string>N</string>
    <string>Nacute</string>
    <string>Ncaron</string>
    <string>Ncommaaccent</string>
    <string>Ntilde</string>
  </array>
  <key>public.kern1.N.sc</key>
  <array>
    <string>Nacute.c2sc</string>
    <string>Ncaron.c2sc</string>
    <string>Ntilde.c2sc</string>
  </array>
  <key>public.kern1.O</key>
  <array>
    <string>O</string>
    <string>Oacute</string>
    <string>Obreve</string>
    <string>Ocircumflex</string>
    <string>Odieresis</string>
    <string>Ograve</string>
    <string>Ohungarumlaut</string>
    <string>Omacron</string>
    <string>Oslash</string>
    <string>Otilde</string>
    <string>uni01D1</string>
    <string>uni020C</string>
    <string>uni022E</string>
  </array>
  <key>public.kern1.O.sc</key>
  <array>
    <string>Oacute.c2sc</string>
    <string>Obreve.c2sc</string>
    <string>Ocircumflex.c2sc</string>
    <string>Odieresis.c2sc</string>
    <string>Ograve.c2sc</string>
    <string>Omacron.c2sc</string>
    <string>Otilde.c2sc</string>
  </array>
  <key>public.kern1.R.sc</key>
  <array>
    <string>Racute.c2sc</string>
    <string>Rcaron.c2sc</string>
  </array>
  <key>public.kern1.S.sc</key>
  <array>
    <string>Sacute.c2sc</string>
    <string>Scaron.c2sc</string>
    <string>Scircumflex.c2sc</string>
  </array>
  <key>public.kern1.T</key>
  <array>
    <string>T</string>
    <string>Tcaron</string>
    <string>uni0162</string>
    <string>uni021A</string>
  </array>
  <key>public.kern1.T.sc</key>
  <array>
    <string>Tcaron.c2sc</string>
  </array>
  <key>public.kern1.U</key>
  <array>
    <string>U</string>
    <string>Uacute</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Ugrave</string>
    <string>uni1EE4</string>
    <string>uni1EE6</string>
    <string>uni1EE8</string>
    <string>uni1EEA</string>
    <string>uni1EEC</string>
    <string>uni1EEE</string>
    <string>uni1EF0</string>
  </array>
  <key>public.kern1.U.sc</key>
  <array>
    <string>Uacute.c2sc</string>
    <string>Ubreve.c2sc</string>
    <string>Ugrave.c2sc</string>
    <string>Umacron.c2sc</string>
    <string>Uring.c2sc</string>
  </array>
  <key>public.kern1.W</key>
  <array>
    <string>W</string>
    <string>Wacute</string>
    <string>Wcircumflex</string>
    <string>Wdieresis</string>
    <string>Wgrave</string>
    <string>uni1E86</string>
    <string>uni1E88</string>
  </array>
  <key>public.kern1.W.sc</key>
  <array>
    <string>Wacute.c2sc</string>
    <string>Wcircumflex.c2sc</string>
    <string>Wdieresis.c2sc</string>
    <string>Wgrave.c2sc</string>
  </array>
  <key>public.kern1.Y</key>
  <array>
    <string>Y</string>
    <string>Ycircumflex</string>
    <string>Ydieresis</string>
    <string>uni1E8E</string>
  </array>
  <key>public.kern1.Y.sc</key>
  <array>
    <string>Yacute.c2sc</string>
    <string>Ycircumflex.c2sc</string>
    <string>Ydieresis.c2sc</string>
  </array>
  <key>public.kern1.Z.sc</key>
  <array>
    <string>Zacute.c2sc</string>
    <string>Zcaron.c2sc</string>
    <string>Zdotaccent.c2sc</string>
  </array>
  <key>public.kern2.A</key>
  <array>
    <string>A</string>
    <string>AE</string>
    <string>AEacute</string>
    <string>Aacute</string>
    <string>Acircumflex</string>
    <string>Adieresis</string>
    <string>Agrave</string>
    <string>Aring</string>
    <string>Atilde</string>
    <string>uni01CD</string>
    <string>uni0200</string>
    <string>uni0202</string>
    <string>uni0226</string>
    <string>uni1E00</string>
  </array>
  <key>public.kern2.A.sc2</key>
  <array>
    <string>A.c2sc</string>
    <string>Aacute.c2sc</string>
    <string>Abreve.c2sc</string>
    <string>Acircumflex.c2sc</string>
    <string>Adieresis.c2sc</string>
    <string>Agrave.c2sc</string>
    <string>Amacron.c2sc</string>
    <string>Aring.c2sc</string>
    <string>Atilde.c2sc</string>
  </array>
  <key>public.kern2.C.sc</key>
  <array>
    <string>Ccaron.c2sc</string>
    <string>Oacute.c2sc</string>
    <string>Obreve.c2sc</string>
    <string>Ocircumflex.c2sc</string>
    <string>Odieresis.c2sc</string>
    <string>Ograve.c2sc</string>
    <string>Omacron.c2sc</string>
    <string>Otilde.c2sc</string>
  </array>
  <key>public.kern2.O2</key>
  <array>
    <string>O</string>
    <string>OE</string>
    <string>Oacute</string>
    <string>Obreve</string>
    <string>Ocircumflex</string>
    <string>Odieresis</string>
    <string>Ograve</string>
    <string>Ohungarumlaut</string>
    <string>Omacron</string>
    <string>Oslash</string>
    <string>Otilde</string>
    <string>uni01D1</string>
    <string>uni020C</string>
    <string>uni020E</string>
    <string>uni022E</string>
    <string>uni041E</string>
    <string>uni04E6</string>
    <string>uni1E4C</string>
    <string>uni1E4E</string>
    <string>uni1E50</string>
  </array>
  <key>public.kern2.T.sc2</key>
  <array>
    <string>Tcaron.c2sc</string>
  </array>
  <key>public.kern2.U.sc2</key>
  <array>
    <string>Uacute.c2sc</string>
    <string>Ubreve.c2sc</string>
    <string>Ucircumflex.c2sc</string>
    <string>Udieresis.c2sc</string>
    <string>Ugrave.c2sc</string>
    <string>Umacron.c2sc</string>
    <string>Uring.c2sc</string>
  </array>
  <key>public.kern2.W.sc2</key>
  <array>
    <string>Wacute.c2sc</string>
    <string>Wcircumflex.c2sc</string>
    <string>Wdieresis.c2sc</string>
    <string>Wgrave.c2sc</string>
  </array>
  <key>public.kern2.Y.sc2</key>
  <array>
    <string>Yacute.c2sc</string>
    <string>Ycircumflex.c2sc</string>
    <string>Ydieresis.c2sc</string>
  </array>
  <key>public.kern2.Z.sc2</key>
  <array>
    <string>Zacute.c2sc</string>
    <string>Zcaron.c2sc</string>
    <string>Zdotaccent.c2sc</string>
  </array>
</dict>
</plist>
